#page-title {
    color: white;
    font-weight: 600;
    filter: blur(2px);
    animation: title-slide-in 1s linear forwards, change-color 1s linear 1.2s
      forwards;
  }
  
  #page__holder{
      animation: background-color-change 1.2s 1.2s linear forwards;
  }
  
  @keyframes background-color-change  {
      from {
          background-color: black;
        }
        to {
          background-color: white;
        }
  }
  
  @keyframes title-slide-in {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateX(0);
    }
  }
  
  @keyframes change-color {
    from {
      color: white;
    }
    to {
      color: black;
    }
  }
  